:root {
    --background: #333;
    --text: #FFF;
    --highlight: #29aafe;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
}

body {
    padding: 0px 0 0 0;
    background: var(--background);
    transition: 0.5s background ease;
}

.theme-switch {
    --background: #FFF;
    --text: #333;
    color: var(--text);
    width: 70px;
    height: 30px;
    background: var(--highlight);
    border-radius: 50px;
    position: relative;

    .switch {
        background: white;
        width: 24px;
        height: 24px;
        background: var(--background);
        border-radius: 100%;
        position: absolute;
        top: 3px;
        left: 4px;
        transition: 0.5s all ease;
    }
}

.light-theme {
    --background: #FFF;
    --text: #000;
    background: var(--background);

    .theme-switch {
        background: var(--text);

        .switch {
            transform: translateX(37px);
        }
    }

    a {
        color: var(--highlight);
    }
}

* {
    box-sizing: border-box;
    color: var(--text);
    background: var(--background);
}

h2 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.navbar {
    color: var(--text);
}

.header-fixed {
    box-shadow: 0 12px 15px var(--background);
    color: var(--text);
    background: var(--background);
}

.navbar-brand {
    color: var(--text);
    background: var(--background);
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.navbar-nav li a {
    color: var(--text);
}

.navbar-toggler {
    box-shadow: none !important;
    border: 1px solid var(--text);
}

@media only screen and (max-width:768px) {
    .navbar-nav li {
        width: 100%;
        float: left;
        padding: 10px 0px 10px 10px;
        border-bottom: 1px solid #ebebeb;
    }
}

.container-md {
    padding: 10px 0 30px;
    color: var(--text);
}

section {
    padding-block: 20px;
    display: block;
    box-sizing: border-box;
}

.card {
    color: var(--text);
    background: var(--background);
    border-color: var(--text);
}

a {
    text-decoration: none;
    text-decoration-color: #29aafe;
    color: #29aafe;
}

a:hover {
    text-decoration-line: wavy;
    text-decoration-color: black;
    color: black;
}


@media (max-width:991px) {
    .footer5 [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .footer5 {
        padding-bottom: 0
    }

    .footer5 #footerRights,
    .footer5 .social-icons {
        text-align: center
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Code", sans-serif;
}

h2 {
    font-size: 125px;
    display: flex;
}

.section-background {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bloc {
    margin: 65px;
    font-size: 22px;
    color: var(--text);
}