:root {
    --background: #FFF;
    --text: #000;
    --highlight: #29aafe;
}

/* .theme-switch styles removed */

/* .light-theme styles removed */

* {
    box-sizing: border-box;
    color: var(--text);
    background: var(--background);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
}

body {
    padding: 0px 0 0 0;
    background: var(--background);
    transition: 0.5s background ease;
}

h2 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

/* Improved navbar styles */
.navbar {
    color: var(--text);
    font-size: 18px; /* Adjust font size */
    font-weight: bold; /* Add font weight for emphasis */
}

.header-fixed {
    box-shadow: 0 12px 15px var(--background);
    color: var(--text);
    background: var(--background);
}

.navbar-brand {
    color: var(--text);
    background: var(--background);
    font-size: 24px; /* Adjust font size */
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.navbar-nav li a {
    color: var(--text);
    padding: 10px 20px; /* Add padding for better spacing */
    font-size: 16px; /* Adjust font size */
}

.navbar-toggler {
    box-shadow: none !important;
    border: 1px solid var(--text);
}

@media only screen and (max-width:768px) {
    .navbar-nav li {
        width: 100%;
        float: left;
        padding: 10px 0px 10px 10px;
        border-bottom: 1px solid #ebebeb;
  
