:root {
    --background: #FFF;
    --text: #000;
    --highlight: #29aafe;
}

/* .theme-switch styles removed */

/* .light-theme styles removed */

* {
    box-sizing: border-box;
    color: var(--text);
    background: var(--background);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
}

body {
    padding: 0px 0 0 0;
    background: var(--background);
    transition: 0.5s background ease;
}

h2 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.navbar {
    color: #FFF; /* White text color */
    background-color: transparent; /* Transparent background */
    padding: 10px 0; /* Add padding */
    border: none; /* Remove border */
}

.header-fixed {
    box-shadow: 0 12px 15px var(--background);
    color: var(--text);
    background: var(--background);
}

.navbar-brand {
    color: var(--text); /* Set text color to black */
    font-size: 24px; /* Adjust font size */
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.navbar-nav li a {
    color: var(--text); /* Set text color to black */
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Adjust font size */
}

.navbar-nav li a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.navbar-toggler {
    box-shadow: none !important;
    border: 1px solid var(--text); /* Set border color to black */
    color: var(--text); /* Set text color to black */
}

@media only screen and (max-width:768px) {
    .navbar-nav li {
        width: 100%;
        float: left;
        padding: 10px 0px 10px 10px;
        border-bottom: 1px solid #ebebeb;
    }
}

.container-md {
    padding: 10px 0 30px;
    color: var(--text);
}

section {
    padding-block: 20px;
    display: block;
    box-sizing: border-box;
}

.card {
    color: var(--text);
    background: var(--background);
    border-color: var(--text);
}

a {
    text-decoration: none;
    text-decoration-color: #29aafe;
    color: #29aafe;
}

a:hover {
    text-decoration-line: wavy;
    text-decoration-color: black;
    color: black;
}

/* Footer styles removed */

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Code", sans-serif;
}

h2 {
    font-size: 125px;
    display: flex;
}

.section-background {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bloc {
    margin: 65px;
    font-size: 22px;
    color: var(--text);
}
